* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0 auto;
  max-width: 1600px;
  padding-bottom: 32px;
}

button, input {
  margin-right: 8px;
}

.controls {
  margin: 32px auto;
}
